<h1>Hello, <%= @user.username %>  </h1>

<!-- shows just the user's tasks  -->
<div>
  <h2>Here are your tasks:</h2>
</div>
<%= link_to "Give yourself a new task!", new_user_task_path(@user), class: "btn btn-md btn-info btn-primary" %>
<%= link_to "Create a new project", '/projects/new', class: "btn btn-md btn-primary" %>    

<br><br>


<div class="container">
  <%= render 'tasklist', :locals => {:@tasks => @tasks} %>
</div>


<div class="container">

  <h2>Completed Tasks</h2>

  <%= render 'completed', :locals => {:@tasks => @tasks} %>
</div>

